#sidebar,
#chart-bg  {
  background: linear-gradient(82deg, #FBB4D1 3.73%, #BF9EF2 96.1%);
}

/* #main-content {
  margin-left: 25rem;
} */

#sidebar {
padding-top: 3.5rem;
}

#side-pro img {
  width: 60px;
  height: 40px;
}

#bg-bar {
  width: 477px;
  height: 322px;
  flex-shrink: 0;
}

.chart-container {
  width: 477px;
  height: 322px;
  flex-shrink: 0;
}

/* #Dashboard {
  margin-left: 24rem;
} */

  /* background: linear-gradient(82deg, #FBB4D1 3.73%, #BF9EF2 96.1%);  */


/* Scroll Bar */

.scrollbar-color {
  /* color: rgba(240, 194, 213, 1); */
  background: linear-gradient(82deg, #FBB4D1 3.73%, #BF9EF2 96.1%);
}

.scrollbar {
  position: absolute;
  /* margin-left: 30px; */
  float: left;
  width: 100%;
  height: 300px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
}
.force-overflow {
  min-height: 450px;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(82deg, #FBB4D1 3.73%, #BF9EF2 96.1%);
}

#user-bg {
  position: relative;
  width: 550px;
  height: 400px;
}

#user-top {
  width: 100%;
  height: auto;
  background: white;
  border: 4px solid whitesmoke;
}

#user-top-dtl {
  /* position: absolute; */
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3rem;
  margin: 2rem;
}


/* Scroll Bar */